<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My List</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>

  <body class="bg-black text-white p-6 text-xl font-[Helvetica]">
    <button
      class="block cursor-pointer border px-3 py-1"
      onclick="openAllLinks()"
    >
      Open all
    </button>

    <div class="flex flex-col gap-12 mt-12">
      <% Object.entries(selectedLineToHref).forEach(([line, href]) => { %>
      <div>
        <a
          href="<%= href %>"
          target="_blank"
          rel="noreferrer"
          class="my-link underline underline-offset-4"
        >
          <%= line %>
        </a>
        <div class="mt-4.5 flex gap-4.5 w-max">
          <% ACTIONS.forEach((text) => { %>
          <button
            class="px-2 border cursor-pointer"
            onclick="sendMessage(event, '<%= href %>')"
          >
            <%= text %>
          </button>
          <% }); %>
        </div>
      </div>
      <% }); %>
    </div>

    <script>
      function openAllLinks() {
        for (const el of document.querySelectorAll("a.my-link")) {
          el.click();
        }
      }

      function sendMessage(event, href) {
        return fetch("/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            href,
            text: event.currentTarget.innerText,
          }),
        });
      }
    </script>
  </body>
</html>
